In [1]:
# !conda install numpy pandas matplotlib --y
import time
import pandas as pd
import numpy as np

In [4]:
data = np.random.randint(0, 100, 1000000)

list_data = list(data)
df = pd.DataFrame(data)
df.head(3)

    0
0  18
1  35
2  51

# List

In [5]:
start_time = time.time()

result = [x + 1 for x in list_data]

end_time = time.time()

total_time = end_time - start_time
print(f"Total execution time: {total_time} second")

Total execution time: 0.5476090908050537 second

## DataFrame

In [14]:
start_time = time.time()

result = df + 1

end_time = time.time()

total_time = end_time - start_time
print(f"Total execution time: {total_time} second")

Total execution time: 0.0017778873443603516 second